.Container {
    margin: auto;
    max-width: 1120px;
    padding: 0px 20px;
}

/* Para los formularios */
.offscreen {
    position: absolute;
    left: -9999px;
    font-size: 0.8rem;
}

.instructions {
    font-size: 0.8rem;
    margin-bottom: 4px;
}

.errmsg {
    background-color: #fef0f0;
    border: 1px solid #f76d6d;
    border-radius: 8px;
    color: #f76d6d;
    padding: 12px 16px;
    margin-bottom: 0.5rem;
    transition: 0.4s;
}

/* Estilo de los botones */

.Btn {
    padding: 12px 24px;
    border-radius: 0px;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}

.Btn-primary {
    background-color: var(--global--color-succes);
    color: #fff;
    border: 1px solid var(--global--color-succes);
    border-radius: 12px;
}

.Btn-logout {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    margin: 8px;
    border-radius: 4px;
    transition: 0.4s;
    width: 90%;
    color: #ea3b3b;
    line-height: 1.6;
    border: 0px;
    cursor: pointer;
}

.Btn-logout:hover {
    background-color: #fef0f0;
}

h1 {
    color: var(--global--color-black);
}

.Display {
    font-size: 2.441rem;
}