.Login {
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: #f8fafc;
  padding: 40px 0px;
  height: 100vh;
}

.Login-wrapper {
  width: 400px;
  padding: 56px 40px;
  margin: auto;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 6px 0px;
  border-bottom: 1px solid #e6edf4;
  border-radius: 16px;
}

.Login-logo {
  margin-bottom: 40px;
  width: 40%;
  height: 10%;
}

.Login-logo a {
  display: flexbox;
}

.Login-form {
  display: flex;
  flex-direction: column;
}

.Login-form input {
  font-family: inherit;
  font-size: 16px;
  padding: 12px 16px;
  border: 1px solid #d0d4db;
  border-radius: 8px;
  margin-bottom: 24px;
  outline: none;
}

.Login-form button {
  margin-top: 16px;
}

.Login-form a {
  font-size: 14px;
  text-align: center;
  color: var(--global--color-primary);
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .Login-wrapper {
    width: 320px;
  }
}